.themeSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
  }
  
  .themeClick {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin-left: 58%;
  }
  .themeClickLight {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin-left: 0px;
  }
  
  .theme {
    width: 35px;
    background-color: #1a5fff;
    border-radius: 25px;
  }
  .themeLight {
    width: 35px;
    background-color: #b1b1b1;
    border-radius: 25px;
  }
  
  .themeDiv {
    width: 100%;
    background-color: #1a5fff;
  }
  
