.login {
  margin: 3rem;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 8% auto;
}
.loginForm input {
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #333336;
  color: white;
}
label {
  margin: 0.4rem 0px;
  font-size: 14px;
}
.loginButton,
.loginGoogle {
  background-color: #1a5fff;
  padding: 0.6rem;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px #e9444b30;
}
.loginGoogle {
  display: flex;
  align-items: center;
  gap: 12px;
}
.loginOption {
  width: 100%;
  text-align: center;

  font-size: 12px;
}
.loginRegister {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.loginRegister span {
  color: #1a5fff;
}
.triangle {
  position: absolute;
  top: 25%;
  left: -2%;
}
.ellipse1 {
  position: absolute;
  bottom: -1%;
  left: 65%;
  overflow: hidden;
}
.ellipse2 {
  position: absolute;
  top: 10%;
  right: -1%;
  overflow: hidden;
}
.icon {
  cursor: pointer;
}
.loginButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.errorMessage {
  color: #522224;
  font-size: 14px;
  margin-top: -12px;
  margin-bottom: 10px;
}
.loginForm input.error {
  border-color: #522224;
}
.errorLabel {
  color: #ff4141;
}
