.home {
  font-size: 14px;
  margin: 10px;
}

.homeNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35%;
}

.homeNav button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}

.rightNav {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  margin-right: 5%;
}
.rightNav button {
  background-color: #1a5fff;
  color: white;
}

.workSpaceDropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.selectedOption {
  padding: 10px;
  border: 1px solid #333336;
  border-radius: 4px;
  background-color: transparent;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #333336;
  border-radius: 4px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  background: #1d1d1d;
}

:global(.light) .dropdownMenu,:global(.light) .dropdownOption{
  background: white;
}

:global(.dark) .dropdownMenu,:global(.dark) .dropdownOption{
  background: #1d1d1d;
}


.dropdownOption {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333336;
}

.dropdownOption:last-child {
  border-bottom: none;
}

.homeLine {
  border: none;
  height: 1px;
  background-color: #333336;
  margin-bottom: 3%;
}

.homeLineClicked {
  border: none;
  margin-top: 0px;
}

.folderArea {
  background-color: #2a2a2d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 15%;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
:global(.light) .folderArea {
  background-color: white;
  border: 1px solid #333336;
}
.formFolderContainer {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.formarea {
  width: 18%;
  height: 220px;
  background-color: #1a5fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addFormIcon {
  font-size: 50px;
}

.sharemodal {
  position: fixed;
  top: 25%;
  left: 35%;
  background: #18181b;
  border-radius: 12px;
  width: 35%;
  border: 1px solid #333336;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  color: white;
}

.shareForm {
  width: 100%;
}

.sendInvite {
  background-color: #1a5fff;
  padding: 0.5rem;
  margin: 12px 0px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 4px #e9444b30;
}
.shareForm input,
.sharemodal input {
  background: transparent;
  margin: 12px 0px;
  border: 1px solid #333336;
  border-radius: 12px;
  padding: 0.75rem;
  color: white;
}
.shareForm h3 {
  margin-bottom: 0px;
}
.close {
  position: absolute;
  top: 4%;
  right: 3%;
  cursor: pointer;
}
.form,
.folder {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.permission {
  position: absolute;
  top: 18%;
  right: 4%;
  background: transparent;
  color: white;
}
.permission option {
  background-color: #18181b;
}
.createFolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.done {
  color: #1a5fff;
}
.createFolder p {
  font-size: 18px;
  cursor: pointer;
}
.seperator {
  width: 2px;
  background-color: #333336;
  height: 38px;
}
.folderArea,
.formarea {
  position: relative;
  border-radius: 8px;
}
.delete {
  position: absolute;
  top: -3%;
  right: -5%;
}
.deleteFolder {
  position: absolute;
  right: 5%;
}
.formareaCreated {
  background-color: #8b8b8d;
}

.selectedFolder {
  background-color: white;
  color: black;
}
:global(.light) .selectedFolder{
  background-color: #2a2a2d;
  color: white;
}

:global(.light).addfolder{
  background-color: white;
}

:global(.light) .sharemodal,
:global(.light) .sharemodal input {
  background-color: white;
  color: black;
}
