:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color-light: white;
  --text-color-light: black;
  --background-color-dark: #18181b;
  --text-color-dark: white; 
}


/* Default theme (dark) applied to the body */
body {
  font-family: 'Open Sans';
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  margin: 0px;
}

body.light{
  background-color: var(--background-color-light) !important;
  color: var(--text-color-light) !important;
}

