:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,html {
  font-family: 'Open Sans';
  background-color: #18181b;
  color: white;
}