.setting{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
.profileForm input{
    border-radius: 8px;
    padding: 0.75rem;
    border: 1px solid #333336;
    background-color: transparent;
    color: white;
    font-size: 16px;
}
.profileForm button{
    border-radius: 25px;
    padding: 0.75rem;
    border: none;
    background-color: #1A5FFF;
    color: white;
    font-size: 15px;
    margin-top: 14px;
}
.logOut{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    color: #CF3636;
    position: absolute;
    bottom: 1.5rem;
    left: 3rem;
}



.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px;
    color: #828282;
    
  }
  
  .inputContainer input {
    padding-left: 2.5rem;
    width: 100%;
    border-radius: 5px;
    outline: none;
  }
